* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MiFuente";
}

html {
  font-size: 62.5%;
  font-family: "Poppins, Mulish", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(207.8deg, #000 16.69%, #cbb26a 100%);
  /* padding-top: 20px;
  padding-bottom: 5px; */
  margin: 0;
  padding: 0;
}
.logo {
  display: flex;
  text-align: center;
  margin-top: 1rem;
  margin-left: 1rem;
  /* text-align: center; */
}
.logo img {
  height: 150px;
  width: auto;
  margin-right: 1.2rem;
  border-radius: 80px;
  /* justify-content: left; */
  /* margin: 10rem; */
}

h1 {
  /* justify-content: center; */
  font-size: 3.8rem;
  color: #d8c690;
  text-align: center;
  margin: auto;
}

nav {
  margin: 0;
}

nav .lista-nav {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 20px 0px 10px 0px;
}
.lista-nav li {
  color: #d8c690;
  font-weight: 500;
}

.lista-nav img {
  height: 25px;
}

nav a {
  text-decoration: none;
  color: #d8c690;
  transition: color 0.3s, padding 0.3s;
  padding: 0;
}

nav a:hover {
  background-color: #cbb26a;
  color: black;
  padding: 10px;

  border-radius: 5px;
}

.iconos {
  filter: hue-rotate(160deg);
}

.logo2 {
  background-color: #e3d3c2;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.productos {
  text-align: center;
  color: #d8c690;
  margin: 20px;
}

.listaPastas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;
  margin: auto;
  width: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  height: auto;
}

.botoncompra {
  background-color: #d8c690;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main img {
  width: 400px;
  margin: 20px 20px;
}

.sectionindex {
  display: flex;
  justify-content: space-around;
}

.caja1,
.caja2 {
  flex: 1;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  background-color: #d8c690;
}

.especial {
  height: 150px;
  margin: 15px 18px;
}

.delivery {
  max-width: 100%;
}

.logo2 {
  background-color: #b77752;
  color: #382e2c;
  padding-top: 20px;
  padding-bottom: 8px;
  text-align: center;
}

.productos {
  text-align: center;
  color: #d8c690;
  margin: 20px;
}

.listaPastas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;
  margin: auto;
  width: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  height: auto;
}

.botoncompra,
.botonform {
  background-color: #382e2c;
  color: #d8c690;
  margin-top: 15px;
}

#contacto {
  padding: 20px 0;
  margin-top: 45px;
  border: solid 2px #382e2c;
  background-color: #d8c690;
}

#contacto label,
#contacto input {
  padding: 10px 0px;
  margin: 10px;
}
