* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins, Mulish", sans-serif;
}

html {
  font-size: 62.5%;
  font-family: "Poppins, Mulish", sans-serif;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(207.8deg, #000 16.69%, #cbb26a 100%);

  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  text-align: center;
  margin-top: 1rem;
  margin-left: 1rem;
}
.logo img {
  height: 150px;
  width: auto;
  margin-right: 1.2rem;
  border-radius: 80px;
}

h1 {
  font-size: 3rem;
  color: #92804b;
  text-align: center;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 45px;
}

nav {
  margin: 0;
}

nav .lista-nav {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 20px 0px 10px 0px;
}

.lista-nav li {
  color: #d8c690;
  font-weight: 500;
}

.lista-nav img {
  height: 25px;
}

nav a {
  text-decoration: none;

  color: #d8c690;
  transition: color 0.3s, padding 0.3s;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #cbb26a;
  color: black;
}

.iconos {
  filter: hue-rotate(160deg);
}

nav a i {
  color: #d8c690;
}

.logo2 {
  background-color: #e3d3c2;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

/* productos */

.listaPastas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 2rem 2rem;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  /* padding: 20px; */
  margin: 1rem 1rem;
  height: 450px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .card-img-top {
  margin: 2rem 1rem;

  height: 200px;
  width: auto;
  border-radius: 5px;
}
div .card-body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 0 1rem; */

  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card-body h3 {
  font-size: 3rem;
  color: #382e2c;
  margin-bottom: 1rem;
}
.card-body .card-descrip {
  font-size: 1.5rem;
  color: #382e2c;
  margin: 1rem;

  text-justify: auto;
}
.card-body .card-precio {
  font-weight: bold;

  font-size: 2rem;
  color: #382e2c;
  margin: 1rem;

  margin-bottom: 3px;
  text-justify: auto;
}
.botonAgregar {
  background-color: #382e2c;
  color: #d8c690;
  margin-top: 0;
  /* margin-bottom: px; */
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 200px;
}
.botonAgregar:hover {
  background-color: #d8c690;
  color: #382e2c;
  transition: background-color 0.3s, color 0.3s;
}
/* carrito */
.modal-container {
  /* display: none;  */
  /* position: fixed; */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #382e2c;
  color: #d8c690;
}
.modal-header .modal-title {
  font-size: 2.5rem;
  font-weight: bold;
}
.modal-header .btn-close {
  font-size: 2.5rem;
  color: #d8c690;
  cursor: pointer;
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #d8c690;
  color: #382e2c;
}
.modal-body .car-img-top {
  height: 200px;
  width: auto;
  border-radius: 5px;
}
.modal-body .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.modal-body .card-body .card-title {
  font-size: 2rem;
  color: #382e2c;
  margin-bottom: 1rem;
}
.modal-body .card-body .card-precio {
  font-size: 1.5rem;
  color: #382e2c;
  margin: 1rem;
  text-justify: auto;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #382e2c;
  color: #d8c690;
}
.modal-footer .modal-title {
  font-size: 2.5rem;
  font-weight: bold;
}

/* -------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main img {
  width: 400px;
  margin: 20px 20px;
}

/* index */

.sectionindex {
  display: flex;
  justify-content: space-around;
}

.caja1,
.caja2 {
  flex: 1;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  background-color: #d8c690;
  margin-bottom: 25px;
}

.especial {
  height: 150px;
  margin: 15px 18px;
}

.delivery {
  max-width: 100%;
}

.logo2 {
  background-color: #b77752;
  color: #382e2c;
  padding-top: 20px;
  padding-bottom: 8px;
  text-align: center;
}

/* formulario */

.botonform {
  background-color: #382e2c;
  color: #d8c690;
  margin-top: 15px;
}

#contacto {
  padding: 20px 0;
  margin-top: 45px;
  border: solid 2px #382e2c;
  background-color: #d8c690;
  margin-bottom: 20px;
}

#contacto label,
#contacto input {
  padding: 10px 0px;
  margin: 10px;
}

/* grid */

.gridh2 {
  grid-area: gridh2;
  object-fit: cover;
  background: linear-gradient(207.8deg, #000 16.69%, #cbb26a 100%);
  color: #d8c690;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridimagen {
  grid-area: gridimagen;
  object-fit: cover;
}

.gridlogo {
  grid-area: gridlogo;
  object-fit: cover;
  width: auto;
  height: 180px;
  display: flex;
  justify-content: center;
}

.grid {
  margin-top: 45px;
  margin-bottom: 60px;
  justify-content: center;
  display: grid;
  grid-template-columns: 75px 88px 88px 75px;
  grid-template-rows: 100px 100px 100px 180px;
  gap: 10px;
  grid-template-areas:
    "gridh2 gridh2 gridh2 gridh2"
    "gridimagen gridimagen gridimagen gridimagen "
    "gridimagen gridimagen gridimagen gridimagen"
    ". gridlogo gridlogo .";
}

/* whatsapp button */

#whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#whatsapp-button a {
  display: block;
  background-color: #d8c690;
  padding: 10px;
  border-radius: 50%;
}

#whatsapp-button img {
  width: 40px;
}

/* footer  */

.footer {
  margin-top: auto;
  background: linear-gradient(207.8deg, #000 16.69%, #cbb26a 100%);
  color: #d8c690;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.footiconos {
  margin-bottom: 15px;
}

.footer i {
  color: #d8c690;
  margin-right: 10px;
}

/* media queries  */

@media (max-width: 900px) {
  .lista-nav {
    flex-direction: column;
  }
  .sectionindex {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .h1index {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
